@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #919ef307;
    --global-bg-2: #919ef333;
    --global-bg-3: #c6cefd;
    --global-bg-4: #f2f2ff33;
    --global-bg-5: #ffffff;
    --global-bg-6: #ffffff7f;
    --global-text-1: #000000;
    --global-text-2: #0f1416;
    --global-text-3: #111116;
    --global-text-4: #1e1e1e;
    --global-text-5: #292d32;
    --global-text-6: #555860;
    --global-text-7: #666b87;
    --global-text-8: #686d82;
    --global-text-9: #6a5acd;
    --global-text-10: #b0b0b0;

    /* Header Colors */
    --header-bg-1: #fafaff;
    --header-text-1: #5b7289;

    /* SearchView Colors */
    --searchview-text-1: #9e9e9e99;

    /* Button Colors */
    --button-bg-1: #58c39819;
    --button-bg-2: #6155f5;
    --button-text-1: #58c398;
    --button-text-2: #ffffff;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }
  .text-global-6 {
    color: var(--global-text-6);
  }
  .text-global-7 {
    color: var(--global-text-7);
  }
  .text-global-8 {
    color: var(--global-text-8);
  }
  .text-global-9 {
    color: var(--global-text-9);
  }
  .text-global-10 {
    color: var(--global-text-10);
  }

  /* Header */
  .bg-header-1 {
    background-color: var(--header-bg-1);
  }
  .text-header-1 {
    color: var(--header-text-1);
  }

  /* SearchView */
  .text-searchview-1 {
    color: var(--searchview-text-1);
  }

  /* Button */
  .bg-button-1 {
    background-color: var(--button-bg-1);
  }
  .bg-button-2 {
    background-color: var(--button-bg-2);
  }
  .text-button-1 {
    color: var(--button-text-1);
  }
  .text-button-2 {
    color: var(--button-text-2);
  }
}